*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}



@font-face {
    font-family: roboto;
    src: url(/font/Roboto-Light.ttf);
}

body{
    font-family: roboto;
}

/*---NAVIGATION BAR---*/
.navbar-main {
    background-color: #fff;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.2);
}


/* LOGO */
.nav-logo-container{
    width: auto;
    display: flex;
    margin-left: 10px;
}

.navbar-logo-image{
    height: 60px;
    width: 60px;
    padding: 4px;
    border: 1px solid #000; 
}

.Solution{
    display: flex;
    flex-direction: column;
}

.nav-logo-container .navbar-logo{
    color: #000;
    font-size: 26px;
    display: flex;
    align-items: center;
    
}

.navbar-logo-image img{
    height: 100%;
    width: 100%;
}

.navbar-logo-image:hover {
    color: #5252f0;
    cursor: pointer;
}

.navbar-logo a {
    color: #000;
    text-decoration: none;
}

.navbar-logo a:hover {
    color: #009FFF;
    text-decoration: none;
    cursor: pointer;
}

.navbar-logo span {
    font-size: 35px;
    color: #000;
}

/* HOME LISTING */
.nav-content{
    margin-right: 20px;
    width: auto;
}

.nav-content ul{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 15px;
    display: flex;
    justify-content: space-evenly;
    width: 440px;
}

.nav-content ul li{
    display: flex;
    margin: 5px 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.nav-content ul li a{
    display: block;
    text-decoration: none;
    padding: 8px; 
    color: #000;
    width: 100%;
    text-align: center;
    font-weight: 600;
}

.nav-content ul li a:hover{
    background-color: #009FFF;
    color: white;
    border-radius: 10px;
}

/* This is for the slider below*/

.carousel{
    padding-top: 3px;
    height: 800px;
    width: 100%;
    position: relative;
}

.mySlides {
    display: none;
    height: 800px;
    width: 100%;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.2);
}

.mySlides img{
    height: 800px;
    width: 100%;
}


.slideshow{
    position: relative;
    margin: auto;
}

.carousel .prev,
.carousel .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    border: none;
    font-weight: bold;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    font-size: 1.25rem;
    background-color: rgba(0,0,0,0.2);
    border: none;
    transition: 0.6s ease;
    user-select: none;
    left: 0;
    border-radius: 0 3px 3px 0;
}

.carousel .next{
    left: unset;
    right: 0;
    border-radius: 3px 0 0 3px;
  }

.carousel .prev:hover,  
.carousel .prev:focus,
.carousel .next:hover,
.carousel .next:focus{
    color: #fff;
  }

.carousel .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

.banner-text{
    position: absolute;
    left: 50%;
    bottom: 8.9%;
    color: #fff;
    transform: translate(-50%, -5%);
    font-size: 33px;
    background-color: rgba (0, 0, 0, 0.1);
    letter-spacing: 1.5px;
    text-align: justify;
    text-shadow: 2px 2px 4px  #61616133;
}

/* Upper page headline */

.headline-container{
    display: flex;
    height: auto;
    width: 100%;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    padding: 4% 0 10px 0 ;
}

.headline-container .headline-text{
    justify-items: center;
    text-align: justify;
}

.headline-container .headline-text-upper{
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: justify;
    font-size: 28px;
}

.headline-text-upper h5{
   font-size: 28px;
}

.headline-container .headline-text-bottom{
    display: flex;
    height: auto;
    align-items: center;
    justify-items: center;
    text-align: justify;
    font-size: 23px;
    padding-top: 5px;
}

    /* body container */
.body-container{
    display: flex;
    height: auto;
    width: 100%;
    padding: 4% 0 4% 0;
    align-items: center;
    justify-content: center;
}

.body-container .body-content{
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100%;
    width: 800px;
}

.body-container .body-content .firstcol{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    height: cover;
    width: 100%;
    font-size: 19px;
    text-align: justify;
}

.h5-container h5{
    font-size: 100%;
    text-align: justify;
    margin: 0;
}

.body-container .body-content .secondcol{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    height: cover;
    width: 100%;
    font-size: 19px;
    text-align: justify;
}

.body-container .body-content .thirdcol{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    height: cover;
    width: 100%;
    font-size: 19px;
    text-align: justify;
}

.body-content .text-content{
    margin: 0 10px 0 10px;
    padding:0 15px 0 15px;
    text-align: justify;
}

/* middle body */
/* GRID CONTAINER */
.middle-content{
    /* background-color: #5DFBD7; */
    padding-bottom: 40px;
    width: 100%;
    height: auto;
    align-content: center;
    justify-content: center;
    grid-gap: 60px;
    display: grid;
    grid-template-columns: 1f 1f 1f;
    grid-template-areas: 
    "FIRST SECOND THIRD"
    "FOURTH FIFTH SIXTH";
}

.middle-content .container-wrapper1,.container-wrapper2,.container-wrapper3,
.container-wrapper4,.container-wrapper5,.container-wrapper6{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    background-color: #00D3FD;
    box-shadow: -10px 20px 1px #009FFF;
    
}

.container-wrapper1{
    grid-area: FIRST;
}
.container-wrapper2{
    grid-area: SECOND;
}
.container-wrapper3{
    grid-area: THIRD;
}
    
.container-wrapper4{
    grid-area: FOURTH;
}
.container-wrapper5{
    grid-area: FIFTH;
}
    
.container-wrapper6{
    grid-area: SIXTH;
}

/* FLEX INSIDE WRAPPER */
.img-containerfor1{
    display: flex;
    flex-direction: column;
    top: 0;  
    justify-content: center;
}

.img-containerfor1 .img-up1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

.text-for-learn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    width: auto;
    padding: 13px 20px 13px 20px;
}


.learn-more{
    height: auto;
    width: auto;
    display: flex;
    align-items: top;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    padding: 17px 0 17px 0;
}
/* Lower body page */

.body-container-2{
    display: flex;
    align-items: center;
    justify-content: center; 
    height: auto;
    width: 100%;
    padding: 50px 0;
    background-color: #e0efff;
}

.body-container-2 .support{
    display: flex;
    align-items: center;
    justify-content: center; 
    height: auto;
    width: 1000px;
}

.support .support-container{
    display: flex;
    align-items: center;
    justify-content: center; 
    height: auto;
    width: auto;
}

.body-container-2 .talk-to-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: auto;
    width: 50%;
    text-align: justify;
    font-size: 19px;
    padding: 0 15px 0 15px;
    margin: 0 10px 0 10px;
}

.talk-to-us span{
    padding-bottom: 20px;
    color: #000;
}

.join-us span{
    padding-bottom: 20px;
    color: #000;
}

.support-btn .btn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn #talk{
    height: 42px;
    width: 125px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    background-color: #5252f0;
    color: white;
    font-size: 15px;
    font-family: roboto;
    font-weight: bold;
    cursor: pointer;
}

.btn #talk:hover{
    background-color: #009FFF;
    color: #fff;
}

.btn #join{
    height: 42px;
    width: 125px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    background-color: #5252f0;
    color: white;
    font-size: 15px;
    font-family: roboto;
    font-weight: bold;
}

.btn #join:hover{
    background-color: #009FFF;
    color: #fff;  
}

.body-container-2 .join-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 50%;
    text-align: justify;
    font-size: 19px;
    padding: 0 15px 0 15px;
    margin: 0 10px 0 10px;
}

.head-container h1{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    color: #000;
}

.wrapper-cartoon1 img{
    height: 400px;
    width: 400px;
}

.wrapper-cartoon2 img{
    height: 400px;
    width: 400px;
}

    /* this is for the footer design */
footer{
    height: auto;
}

.bottom-item-container {
    height: 100px;
    width: 100%;
    background-color: #fff;
    border-top: 1px #f4f4f4;
    display: flex;
    justify-content: space-evenly;
}

.right-item-container {
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.right-item-container ul{
    list-style: none;
    display: flex;
    height: auto;
    width: auto;
    justify-content: space-between;
    align-items: center;
}

.right-item-container li{
    display: flex;
    text-decoration: none;
    justify-content: space-between;
}

.right-item-container li svg{
    margin: 0 7px 0 7px;
    cursor: pointer;
}

.right-item-container .facebook-icon:hover{
    fill: #1877F2;
}

.right-item-container .line-icon:hover{
    fill: #00b900;
}

.right-item-container .linkedin-icon:hover{
    fill: #0762C8;
}

.left-item-container{
    display: flex;
    height: auto;
    width: 100%;
    justify-content: space-between;
}

.left-item-container .credits{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.credits a{
    text-decoration: none;
}

.credits a:hover{
    text-decoration: underline;
}


/* this is for the call us and services container */

.detailed-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 20px 0;
}
.detailed-container-subcont{
    display: flex;
    height: auto;
    width: 900px;
    justify-content: space-between;
}

.menu1,.menu2{
    width: 100%;
}

.menu1 li,.menu2 li{
    list-style: none;
    text-align: left;
    
}

.detailed-container li,label{
    line-height: 1.7em;
    letter-spacing: 0.5px;
    font-size: 15px;
    text-align: justify;
}



.detailed-container a{
    text-align: justify;
    color: #000;
}

.detailed-container a:hover{
    color: #969696;
}

.detailed-container label{
    cursor: pointer;
    
}

label:hover{
    color: #969696;
}

label img:hover{
    transition: 0.3s;
}

#drop2{
    opacity: 0;
}


.dropdown1,.dropdown2{
    position: relative;
    height: auto;
}

li .dropdown2,.dropdown2{
    height: auto;
}

.dropdown-menu2{
    position: absolute;
    height: 0;
    top: 25px;
    overflow: hidden;
}

.dropdown-menu2 a{
    position: relative;
    text-decoration: none;
}

.dropdown-menu1 a{
    position: relative;
    text-decoration: none;
}

.dropdown-menu1 a:after{
    content: " ";
    position: absolute;
    background-color: #009FFF;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;   
    transition: 0.3s;
}

.dropdown-menu1 a:hover:after{
    width: 100%;
}

.dropdown-menu2 a:after{
    content: " ";
    position: absolute;
    background-color: #009FFF;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;    
    transition: 0.3s;
}

.dropdown-menu2 a:hover:after{
    width: 100%;
}

#drop1:checked + .dropdown-menu1{
    height: auto;
}

#drop2:checked + .dropdown-menu2{
    height: auto;
}

.drop-icon{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.drop1cont,.drop2cont{
    display: flex;
}

.drop1cont,.drop2cont label{
    display: flex;
    width: auto;
}

.drop1iconcont,.drop2iconcont{
    display: flex;
    justify-content: center;
}
 

/* this is for parallax btn */
.wrapper-btn-to-top{
    position: fixed;
    bottom: 32px;
    right: 35px;
    justify-content: center;
    align-content: center;
    display: none;
}

.wrap-btn-top{
    position: relative;
    align-content: center;
    justify-content: center;
    stroke: #000;
    border-style: solid 1px #009FFF;
    height: 40px;
    width: 40px;
}

.btn-btn-to-top{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;

}

.btn-btn-to-top a{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 100px;
}

.wrap-btn-top svg{
    height: fit-content;
    width: fit-content;
    color: #000;
    border-radius: 100px;
    border: 2px solid #000;
}

.wrap-btn-top a:hover{
    background-color: #009FFF;
    cursor: pointer;
}

.wrap-btn-top svg:hover{
    color: #FFF; 
    cursor: pointer;
    border: 2px solid #009FFF;
}