*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: roboto;
    src: url(/font/Roboto-Light.ttf);
}

/*---NAVIGATION BAR---*/
.navbar-main {
    background-color: #fff;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.2);
}


/* LOGO */
.nav-logo-container{
    width: auto;
    display: flex;
    margin-left: 10px;
}

.navbar-logo-image{
    height: 60px;
    width: 60px;
    padding: 4px;
    
    /* border: 1px solid black; */
}

.Solution{
    display: flex;
    flex-direction: column;
}

.nav-logo-container .navbar-logo{
    color: #000;
    font-size: 26px;
    display: flex;
    align-items: center;
    
}

.navbar-logo-image img{
    height: 100%;
    width: 100%;
}

.navbar-logo-image:hover {
    color: #b6b2b2;
    cursor: pointer;
}

.navbar-logo a {
    color: #000;
    text-decoration: none;
}

.navbar-logo a:hover {
    color: #b6b2b2;
    text-decoration: none;
    cursor: pointer;
}

.navbar-logo span {
    font-size: 35px;
    color: #000;
}

/* HOME LISTING */
.nav-content{
    margin-right: 20px;
}

.nav-content ul{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    
}

.nav-content ul li{
    display: flex;
    margin: 5px 20px;
     
    text-decoration: none;
}

.nav-content ul li a{
    text-decoration: none;
    padding: 8px; 
    color: #000;
}

.nav-content ul li a:hover{
    background-color: #b6b2b2;
    color: white;
    border-radius: 10px;
}

/* This is for the slider below*/

.carousel{
    padding-top: 3px;
    height: 800px;
    width: 100%;
    position: relative;
}

.mySlides {
    display: none;
    height: 800px;
    width: 100%;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.2);
}

.mySlides img{
    height: 800px;
    width: 100%;
}


.slideshow{
    position: relative;
    margin: auto;
}

.carousel .prev,
.carousel .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    border: none;
    font-weight: bold;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    font-size: 1.25rem;
    background-color: rgba(0,0,0,0.2);
    border: none;
    transition: 0.6s ease;
    user-select: none;
    left: 0;
    border-radius: 0 3px 3px 0;
}

.carousel .next{
    left: unset;
    right: 0;
    border-radius: 3px 0 0 3px;
  }

.carousel .prev:hover,  
.carousel .prev:focus,
.carousel .next:hover,
.carousel .next:focus{
    color: #fff;
  }

.carousel .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

.banner-text{
    position: absolute;
    left: 50%;
    bottom: 8.9%;
    color: #fff;
    transform: translate(-50%, -5%);
    font-size: 33px;
    background-color: rgba (0, 0, 0, 0.1);
    letter-spacing: 1.5px;
    text-align: justify;
    text-shadow: 2px 2px 4px  #61616133;
}

/* Upper page headline */

.headline-container{
    display: flex;
    height: auto;
    width: 100%;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    padding: 1% 0 10px 0 ;
}

.headline-container .headline-text{
    justify-items: center;
    text-align: justify;
}

.headline-container .headline-text-upper{
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: justify;
    font-size: 28px;
}

.headline-text-upper h5{
   font-size: 28px;
}

.headline-container .headline-text-bottom{
    display: flex;
    height: auto;
    align-items: center;
    justify-items: center;
    text-align: justify;
    font-size: 23px;
    padding-top: 5px;
}

    /* body container */
.body-container{
    display: flex;
    height: auto;
    width: 100%;
    padding: 3% 0 3% 0;
    align-items: center;
    justify-content: center;
    
}

.body-container .body-content{
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100%;
    width: 800px;
}

.body-container .body-content .firstcol{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    height: cover;
    width: 100%;
    font-size: 19px;
    text-align: justify;
}

.h5-container h5{
    font-size: 100%;
    text-align: justify;
    margin: 0;
}

.body-container .body-content .secondcol{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    height: cover;
    width: 100%;
    font-size: 19px;
    text-align: justify;
}

.body-container .body-content .thirdcol{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    height: cover;
    width: 100%;
    font-size: 19px;
    text-align: justify;
}

.body-content .text-content{
    margin: 0 10px 0 10px;
    padding:0 15px 0 15px;
    text-align: justify;
}

/* Lower body page */

.body-container-2{
    display: flex;
    align-items: center;
    justify-content: center; 
    height: auto;
    width: 100%;
    padding: 50px 0;
    background-color: #e0efff;
}

.body-container-2 .support{
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 500px;
    width: 1000px;
}

.support .support-container{
    display: flex;
    align-items: center;
    justify-content: center; 
    height: auto;
    width: auto;
}

.body-container-2 .talk-to-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: auto;
    width: 50%;
    text-align: justify;
    font-size: 19px;
    padding: 0 15px 0 15px;
    margin: 0 10px 0 10px;
}

.talk-to-us span{
    padding-bottom: 20px;
    color: #5252f0;
}

.join-us span{
    padding-bottom: 20px;
    color: #5252f0;
}

.support-btn .btn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn #talk{
    height: 42px;
    width: 125px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    background-color: #5252f0;
    color: white;
    font-size: 15px;
    font-family: roboto;
    font-weight: bold;
    cursor: pointer;
}

.btn #talk:hover{
    background-color: #aaaaf3;
    color: white;
}

.btn #join{
    height: 42px;
    width: 125px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    background-color: #5252f0;
    color: white;
    font-size: 15px;
    font-family: roboto;
    font-weight: bold;
}

.btn #join:hover{
    background-color: #aaaaf3;
    color: white;  
}

.body-container-2 .join-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 50%;
    text-align: justify;
    font-size: 19px;
    padding: 0 15px 0 15px;
    margin: 0 10px 0 10px;
}

.head-container h1{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    color: #5252f0;
}

    /* this is for the footer design */

.bottom-item-container {
    height: 100px;
    width: 100%;
    background-color: #fff;
    border-top: 1px #f4f4f4;
    display: flex;
    justify-content: space-evenly;
}

.right-item-container {
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.right-item-container ul{
    list-style: none;
    display: flex;
    height: auto;
    width: 25%;
    justify-content: space-between;
    align-items: center;
}

.right-item-container ul li {
    display: flex;
    text-decoration: none;
    justify-content: space-evenly;
}

.right-item-container ul li a img{
    height: 35px;
    width: 35px;
}

.right-item-container ul li a:hover{
    cursor: pointer;
}


.left-item-container{
    display: flex;
    height: auto;
    width: 100%;
    justify-content: space-between;
}

.left-item-container .credits{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.credits a{
    text-decoration: none;
}

.credits a:hover{
    text-decoration: underline;
}


/* this is for the call us and services container https://www.youtube.com/watch?v=eKo1NV1qxbc */

.detailed-container{
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
}

.call-us-container{
    display: flex;
}

.services-container{
    display: flex;
    width: 500px;

}

.services-container ul{ 
    list-style: none;
    height: 15px;
    width: 15px;
}

.services-container ul li{ 
    position: relative;
    display: inline-block;
}

.services-container ul li a{ 
    text-align: left;
    display: block;
}

.services-container a {
    font-size: 16px;
    text-align: left;
    display: block;
}

.dropdown svg{
    height: 100%;
    width: 100%;
}
