html,body{
    margin: 0;
    padding: 0;
}

/*---NAVIGATION BAR---*/
.navbar-main {
    background-color: #fff;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.2);
}

.grid-body-container{
    display: grid;
    grid-template-areas: 
        "aside1 content aside2"
        "article content arcticle";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px auto 70px;
    align-items: center;
    border: 2px solid black;
}

.content {grid-area: content;}

.nav-logo-container{
    width: auto;
    border: 2px solid black;
    display: flex;
    margin-left: 10px;
}

.navbar-logo-image{
    height: 60px;
    width: 60px;
    border: 2px solid black;
}

.nav-logo-container .navbar-logo{
    color: #ffffff;
    font-size: 26px;
    display: flex;
    align-items: center;
}


.navbar-logo a {
    color: #000;
    text-decoration: none;
}

.navbar-logo a:hover {
    color: #eeaf3a;
    text-decoration: none;
    cursor: pointer;
}

.navbar-logo span {
    font-size: 35px;
}

.nav-content{
    margin-right: 20px;
    
}

.nav-content ul{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 25px;
    display: flex;
    border: 2px solid black;
    justify-content: space-evenly;
    width: 100%;
}

.nav-content ul li{
    display: flex;
    margin: 5px 20px;
    padding: 5px; 
    border: 2px solid black;
    
}

.banner{
    padding: 0;
    margin: 0;
}

.banner-image{
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
}

.banner-image img{
    height: 600px;
    width: 100%;
    position: relative;
} 

.body-content{
    padding: 0;
    margin: 0;
    text-align: center;
    border: 2px solid black;
    display: grid;
}